#rfid{
    

@media (min-width: 1200px) and (max-width: 1400px) and (min-height: 600px) and (max-height: 700px) {
  
    .rfidText {
      
      position: relative;
      display: flex;
      top: 35%;
      text-align: center;
      margin-left: 22.5%;
      font-weight: 500;
      transform: scale(1.2);
      font-size: 28px;
    }
    .text1 {
      position: relative;
      text-align: center;
    
      margin-left: auto;
      margin-right: auto;
    
    }
    .text2 {
      position: relative;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    
    }
    .text3 {
      position: absolute;
      margin-left: -374px;
      text-align: center;
      margin-top: 28px;
    }
    .white-cardapp{
      margin-right:auto;
      margin-left: auto;
    }
    .navigation_next {
      color: whitesmoke;
      font-size: 78px;
      right: 17rem !important;
      z-index: 9999999;
      top: 37rem;
      margin-left: 76vw;
      position: absolute;
      display: flex;
    }
    .navigation_prev {
      position: absolute;
      margin-left: -170rem !important;
      margin-top: -21rem !important;
    }
    .ir_Text {
      position: relative;
      display: flex;
      top: 40%;
      text-align: center;
      margin-left: 28.5%;
      font-weight: 500;
      font-size: 28px;
      transform: scale(1.2);
    }
    .antext {
      margin-left: 25%;
      position: relative;
      display: flex;
      top: 30%;
      text-align: center;
      font-weight: 500;
      font-size: 33px;
    }
    .slides_abt {
      height: 100%;
      width: 100%;
      transform: scale(0.9);
      transform: scale();
  
    }
  
  
    #pos_left {
      left: -10rem;
    }
   .tx{
     left:100%;;
   }
  
    #e3{
      margin-top:5%;
      margin-bottom:5%;
    }
  
    .cards2_sec_r2{
      margin-right:auto;
      margin-left: auto;
      margin-top:0%;
      top:0px;
    }
    .image_inside_app_liquor{
      top:0px;
    }
    
  
  
  .cards2_sec_r2 {
    margin-left: 93px;
    margin-top: -210px;
  }
  .footer_row_sec_r {
    margin-top: -29px;
  }
  }
  
}